.navbar{
    background-color: #9b3617; 
    height: 80px;
}
img{
    height: 40px; 
    width: 40px; 
    margin-right: 15px; 
    border: white solid 2px;
}
.navbar-brand{
    color: aliceblue; 
    margin-right: 730px;
}
.nav-link{
    color: aliceblue;
}
.btn{
    color: aliceblue;
}
h1{
    color: white; 
    text-align: center; 
    font-weight: 1000;
}
h4{
    text-align: center; 
    color: white; 
    font-weight: 100;
}
#carouselExampleCaptions{
    background-color: #dcbbb1; 
    margin-top: 20px;
}
.d-block{
    height: 300px;
}
.card-img-top{
    height: 300px;
}
footer{
    background-color: rgb(253, 229, 221);
}